<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/icons8-book-reader-24 (1).png" width="50px">
      <ion-title class="title"  style="color: #FE5D37 !important; margin-left: 5px; font-family: 'Lobster Two', cursive; font-weight: 700; font-size: calc(1.375rem + 1.5vw);">
        Kider
      </ion-title>
    </ion-buttons>
    <div class="center-buttons">
      <ion-button fill="clear" class="center-button" color="danger" (click)="navigateTohome()">
        Home
      </ion-button>
      <ion-button fill="clear" class="center-button" color="danger">
        About Us
      </ion-button>
      <ion-button fill="clear" class="center-button" color="danger" (click)=" navigateToclasses()">
        Classes
      </ion-button>
      <ion-button fill="clear" class="center-button" color="danger">
        Pages
      </ion-button>
      <ion-button fill="clear" class="center-button" color="danger">
        Contact Us
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-button class="join-button" style="background-color:#FE5D37 ; color: white;">
        Join Us
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image">
    <img src="assets/icon/carousel-1.jpg" alt="Wild Landscape" style="width: 100%; max-height:500px;; top: 0;" />
    <div class="image-overlay">
      <div class="text-center">
        <h2 class="image-heading" style="font-size: 35px; color: white; font-weight: 900; font-family: 'Lobster Two', cursive;  font-size: calc(1.375rem + 1.5vw); display: inline-block;">About Us</h2>
        <p style="color: red; font-size: 32px;">Home/ PagesAbout/ Us</p>
      </div>
    </div>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card1">
         <ion-card-content>
           <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2;display: block; margin: auto;font-family: 'Lobster Two', cursive; ">Learn More About Our Work And Our Cultural Activities</h2>
           <p style="color: gray; margin-top: 30px;">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
           <p>Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor est vero nonumy magna.</p>
           <ion-buttons slot="end">
            <ion-button class="join-button" style="background-color:#FE5D37 ; color: white;padding: 10px; border-radius: 15px;margin-right: 20px;margin-top: 20px;">
              READ MORE
            </ion-button>
          </ion-buttons>
         </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="large-circle-card5">
          <ion-card-content>
            <ion-img src="assets/icon/about-1.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col size="6">
            <ion-card class="large-circle-card6">
              <ion-card-content>
                <ion-img src="assets/icon/about-2.jpg"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="large-circle-card7">
              <ion-card-content>
                <ion-img src="assets/icon/about-3.jpg"></ion-img>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-img src="assets/icon/call-to-action.jpg"></ion-img>
      </ion-col>
      <ion-col size="6" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2; font-family: 'Lobster Two', cursive; text-align: center;">
          Become A Teacher
        </h2>
        <p style="color: gray; text-align: center;">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu <br>diam amet diam et eos. Clita erat ipsum et <br>lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
        <ion-buttons style="display: flex; justify-content: center; margin-top: 20px;">
          <ion-button class="join-button" style="background-color: #FE5D37; padding-left: 100px; padding-right: 100px; color: white; border-radius: 15px;">
            READ MORE
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <h1 style="font-family: 'Lobster Two',cursive;color: #103741;font-size: calc(1.375rem + 1.5vw);font-weight: 700;">School Classes</h1>
    <p style="font-family: Heebo,sans-serif; color: gray;font-size: 1rem;font-weight: 400;line-height: 1.5;">Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd <br>vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-1.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-2.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-3.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-4.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-5.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="large-circle-card6">
          <ion-card-content>
            <ion-img src="assets/icon/classes-6.jpg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2; font-family: 'Lobster Two', cursive; text-align: center;">
          Make Appointment
        </h2>
       <ion-row>
       <ion-col size="6">
        <ion-input type="text" placeholder="Gaurdian Name" fill="outline"></ion-input>
       </ion-col>
       <ion-col size="6">
        <ion-input type="email" placeholder="Gaurdian Email" fill="outline"></ion-input>
       </ion-col>
       </ion-row>
       <ion-row>
        <ion-col size="6">
         <ion-input type="text" placeholder="Child Name" fill="outline"></ion-input>
        </ion-col>
        <ion-col size="6">
         <ion-input type="text" placeholder="Child Age" fill="outline"></ion-input>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-input type="text-area" placeholder="Message" fill="outline"></ion-input>
          </ion-col>
        </ion-row>
        <ion-buttons style="display: flex; justify-content: center; margin-top: 20px;">
          <ion-button class="join-button" style="background-color: #FE5D37; padding-left: 100px; padding-right: 100px; color: white; border-radius: 15px;">
            Submit
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" style="max-width:900px; max-height: 500px;">
        <ion-img src="assets/icon/appointment.jpg" style="width: 100%; height: 100%;"></ion-img>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div style="text-align: center;">
    <h1 style="font-family: 'Lobster Two',cursive;color: #103741;font-size: calc(1.375rem + 1.5vw);font-weight: 700;">Popular Teachers</h1>
    <p style="font-family: Heebo,sans-serif; color: gray;font-size: 1rem;font-weight: 400;line-height: 1.5;">Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd <br>vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
  </div>
 <ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-card class="large-circle-card8">
        <ion-card-content>
          <ion-img src="assets/icon/team-1.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="large-circle-card8">
        <ion-card-content>
          <ion-img src="assets/icon/team-2.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="large-circle-card8">
        <ion-card-content>
          <ion-img src="assets/icon/team-3.jpg"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-card class="large-circle-card6">
        <ion-card-content>
          <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2; font-family: 'Lobster Two', cursive; text-align: center;">
            Full Name
          </h2>
          <p style="color: gray; text-align: center;">Designation</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="large-circle-card6">
        <ion-card-content>
          <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2; font-family: 'Lobster Two', cursive; text-align: center;">
            Full Name
          </h2>
          <p style="color: gray; text-align: center;">Designation</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card class="large-circle-card6">
        <ion-card-content>
          <h2 style="color: #103741;font-size: 20px; font-weight:700; line-height: 1.2; font-family: 'Lobster Two', cursive; text-align: center;">
            Full Name
          </h2>
          <p style="color: gray; text-align: center;">Designation</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 </ion-grid>
 <div style="text-align: center;">
   <h1 style="font-family: 'Lobster Two',cursive;color: #103741;font-size: calc(1.375rem + 1.5vw);font-weight: 700;">Our Clients Say!</h1>
    <p style="font-family: Heebo,sans-serif; color: gray;font-size: 1rem;font-weight: 400;line-height: 1.5;">Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd <br>vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
          <ion-card-content>
            <p>Tempor stet labore dolor cilta diam amet ipsum dolor duo ipsum rebum<br> stet dolor amet diam stet.est stet ea ipsum amet est kasd erat eos.</p>
            <div class="round-image-container">
              <img src="assets/icon/testimonial-3.jpg" class="round-image">
            </div>
            <h2 style="color: #103741;font-size: 20px; font-weight:700; font-family: 'Lobster Two', cursive;">Client Name</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card style=" box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
          <ion-card-content>
            <p>Tempor stet labore dolor cilta diam amet ipsum dolor duo ipsum rebum<br> stet dolor amet diam stet.est stet ea ipsum amet est kasd erat eos.</p>
            <div class="round-image-container">
              <img src="assets/icon/testimonial-2.jpg" class="round-image">
            </div>
            <h2 style="color: #103741;font-size: 20px; font-weight:700; font-family: 'Lobster Two', cursive;">Client Name</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding" style="background-color: #103741;">

    <!-- <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-facebook" style="color: rgb(10, 10, 10);"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-twitter" style="color: rgb(20, 20, 20);"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-google" style="color: rgb(14, 13, 13);"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-instagram" style="color: rgb(5, 5, 5);"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-youtube" style="color: rgb(12, 12, 12);"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="full" fill="clear" class="btn-link btn-floating btn-lg" href="#!" role="button" data-mdb-ripple-color="dark">
            <ion-icon name="logo-github" style="color: white;"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="3">
          <h3 style="color:white; font-size:18px;font-family: 'Lobster Two',cursive;font-weight: 700;font-size: calc(1.3rem + .6vw);">NEWSLETTER</h3>
          <p style="color: grey;">Subscribe to our newsletter for updates</p>
          <ion-input type="email" placeholder="email" fill="outline"></ion-input>
        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3 style="color:white; font-size:18px;font-family: 'Lobster Two',cursive;font-weight: 700;font-size: calc(1.3rem + .6vw);">Photo Gallery</h3>
          <ion-row>
            <ion-col size="4">
             <img src="assets/icon/classes-1 (1).jpg">
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-2 (1).jpg">
             </ion-col>
             <ion-col size="4">
              <img src="assets/icon/classes-3 (1).jpg">
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
             <img src="assets/icon/classes-4 (1).jpg">
            </ion-col>
            <ion-col size="4">
              <img src="assets/icon/classes-5 (1).jpg">
             </ion-col>
             <ion-col size="4">
              <img src="assets/icon/classes-6 (1).jpg">
             </ion-col>
          </ion-row>

        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3 style="color:white; font-size:18px;font-family: 'Lobster Two',cursive;font-weight: 700;font-size: calc(1.3rem + .6vw);">QUICK LINKS</h3>
          <p style="color: grey;">Search</p>
          <p style="color: grey;">About us</p>
          <p style="color: grey;">FAQ</p>
          <p style="color: grey;">Privacy Policy</p>
          <p style="color: grey;">Terms & Condition</p>
        </ion-col>
        <ion-col size="12" size-sm="3">
          <h3 style="color:white; font-size:18px;font-family: 'Lobster Two',cursive;font-weight: 700;font-size: calc(1.3rem + .6vw);">Get In Touch</h3>
          <p style="color: grey;">Available between 8AM to 8PM.Ready to answer your questions.</p>

          <p style="color: grey;"><ion-icon name="call-outline"></ion-icon>(+1)525 5252225</p>
          <p style="color: grey;"> <ion-icon name="mail-open-outline"></ion-icon>info@yourstore.com</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>




