.center-buttons {

  display: flex;
  justify-content: center;
  align-items: center;
}
.center-button:hover {
  color: red;
}
.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .image-heading, .button1 ion-button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.image-overlay {
  position: absolute;
  width: 700px;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
}
.image-heading {
  font-size: 24px;
}


.button1 ion-button {
  margin-bottom: 10px;

}



  .circle-card1 {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    left:50px;
    top:30px;
  }

  .circle-card1 ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .circle-card1 ion-img {
    max-width: 100%;
  }

  .large-circle-card1 {
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
  }

.circle-card1:hover{
  background-color:#FE5D37;

}


.large-circle-card1:hover{
  background-color:#FE5D37 ;
}


.circle-card2 {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  left:50px;
  top:30px;
}
.circle-card2 ion-img {
  margin: auto;
  margin-top:30px;
}
.circle-card2:hover{
  background-color: #103741;

}

.large-circle-card2 {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.large-circle-card2:hover{
  background-color:#103741;
}



.circle-card3 {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  left:50px;
  top:30px;
}
.circle-card3 ion-img {
  margin: auto;
  margin-top:30px;
}
.circle-card3:hover{
  background-color: rgb(255, 153, 0);

}

.large-circle-card3 {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.large-circle-card3:hover{
  background-color:rgb(255, 153, 0);
}



.circle-card4 {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
   left:50px;
    top:30px;
}
.circle-card4 ion-img {
  margin: auto;
  margin-top:30px;
}
.circle-card4:hover{
  background-color:aqua;

}

.large-circle-card4 {
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.large-circle-card4:hover{
  background-color:aqua;
}


.card1{
  width: 600px;
  height: 400px;
  top:150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.large-circle-card5{
  border-radius: 50%;
  overflow: hidden;
  width: 400px;
  height: 400px;
  top: 100px;
}
.large-circle-card5 ion-img {
  border-radius: 50%;
  overflow: hidden;
}

.large-circle-card5:hover{
  background-color:#FE5D37;
}


.large-circle-card6{
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin-top:1px;
}
.large-circle-card6 ion-img {
  border-radius: 50%;
  overflow: hidden;
}
.large-circle-card6:hover{
  background-color:#FE5D37;
}


.large-circle-card7{
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  right: 70px;
  margin-top:1px;
}
.large-circle-card7 ion-img {
  border-radius: 50%;
  overflow: hidden;
}
.large-circle-card7:hover{
  background-color:#FE5D37;
}


@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.large-circle-card6 {
  transition: transform 0.3s ease-in-out;
}

.large-circle-card6:hover {
  transform: translateY(-10px);
}


.large-circle-card8{
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 400px;

}
.large-circle-card8 ion-img {
  border-radius: 50%;
  overflow: hidden;
}


.round-image-container {
  display: flex;

}

.round-image {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
